@model IEnumerable<ProjectDB.SellerNote>

<div class="table-format">
    <table id="pager" class="table tablesorter sort-table">
        <thead>
            <tr>
                <th scope="col"> SR. NO. </th>
                <th scope="col"> NOTE TITLE </th>
                <th scope="col"> CATEGORY </th>
                <th scope="col"> REMARKS </th>
                <th scope="col"> CLONE </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6">No Records Found</td>
                    </tr>
                }
                int i = 1 + 10 * (ViewBag.activePageNumber - 1);

                foreach (var note in Model)
                {
                    var fun1 = "downloadPopup('#mp" + i.ToString() + "')";
                    string tId = "mp" + i.ToString();
                    var h = "/Home/NoteDetails/" + note.ID.ToString();
                    <tr>
                        <th>@i</th>
                        <td> <a href=@h title="Note Details">@note.Title</a></td>
                        <td> @note.NoteCategory.Name </td>
                        <td> @note.AdminRemarks </td>
                        @{ h = "/Home/Edit/" + note.ID.ToString(); }
                        <td> <a href=@h title="Clone Note">Clone</a></td>
                        <td>
                            <div class="menu-popup">
                                <a class="menu-check" onclick=@fun1><img src="/Images/dots.png" alt="Dots" title="Popup Menu"></a>
                                <div id=@tId class="menu-popup-show">
                                    @{ h = "/Transaction/NoteDownload?id=" + note.ID.ToString() + "&type=Rejected"; }
                                    <p><a href=@h title="Download Note">Download Note</a></p>
                                </div>
                            </div>
                        </td>
                    </tr>

                    i += 1;
                }
            }
        </tbody>
    </table>
</div>

<div class="pager-nav">
    @{
        if (!(Model.Count() == 0))
        {
            var totalPages = Math.Ceiling(ViewBag.totalCount / 10.0);

            var fun = "getRejectedNotes(" + (ViewBag.activePageNumber - 1).ToString() + ")";

            if (ViewBag.activePageNumber != 1)
            {
                <img src="~/Images/left-arrow.png" alt="Left Arrow" title="Left" onclick=@fun />
            }

            for (var totalpage = 1; totalpage <= totalPages; totalpage++)
            {
                if (totalpage == ViewBag.activePageNumber)
                {
                    <span class="pg-selected">
                        @{fun = "getRejectedNotes(" + totalpage.ToString() + ")";}
                        @Html.Label(totalpage.ToString(), new { @class = "pageNumber", target = totalpage.ToString(), onclick = fun })
                    </span>
                }
                else
                {
                    <span>
                        @{fun = "getRejectedNotes(" + totalpage.ToString() + ")";}
                        @Html.Label(totalpage.ToString(), new { @class = "pageNumber", target = totalpage.ToString(), onclick = fun })
                    </span>
                }
            }

            fun = "getRejectedNotes(" + (ViewBag.activePageNumber + 1).ToString() + ")";

            if (totalPages != ViewBag.activePageNumber)
            {
                <img src="~/Images/right-arrow.png" alt="Right Arrow" title="Right" onclick=@fun />
            }
        }
    }
</div>

<script>funTableSorter();</script>
