@model Notes_MarketPlace.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AccountView.cshtml";
}

<!-- Change Password Page -->
<section id="change-password-page">
    <div class="login">
        <div class="content">
            <img src="/Images/top-logo.png" alt="logo" class="img-responsive" title="Logo">
            <div class="login-content">
                <div class="login-heading">
                    <h1> Change Password </h1>
                </div>
                <div class="login-text">
                    <p> Enter your new password to change your password </p>
                </div>
                <div class="field-validation-error">
                    @Html.DisplayFor(u => u.Error)
                </div>
                <div class="login-form">
                    <form method="post" action="/Account/ChangePassword">
                        <div class="form-group">
                            @Html.LabelFor(u => u.OldPassword)
                            @Html.TextBoxFor(u => u.OldPassword, new { type = "password", @class="form-control", placeholder="Enter your password"})
                            <span class="show-pass" target="#OldPassword"> <img src="/Images/eye.png" alt="View" title="View"> </span>
                            @Html.ValidationMessageFor(u => u.OldPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(u => u.NewPassword)
                            @Html.TextBoxFor(u => u.NewPassword, new { type = "password", @class = "form-control", placeholder = "Enter your password" })
                            <span class="show-pass" target="#NewPassword"> <img src="/Images/eye.png" alt="View" title="View"> </span>
                            @Html.ValidationMessageFor(u => u.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(u => u.ConformPassword)
                            @Html.TextBoxFor(u => u.ConformPassword, new { type = "password", @class = "form-control", placeholder = "Enter your password" })
                            <span class="show-pass" target="#ConformPassword"> <img src="/Images/eye.png" alt="View" title="View"> </span>
                            @Html.ValidationMessageFor(u => u.ConformPassword)
                        </div>
                        <div class="login-page-button">
                            <button type="submit" class="btn btn-primary" title="Submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Change Password Page Ends -->
