@model Notes_MarketPlace.Models.UserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- User Profile -->
<section id="user-profile">

    <!-- User Profile Content -->
    <div class="search-content">
        <div class="main-heading-center">
            <h1> User Profile </h1>
        </div>
    </div>

    <!-- User Profile Details -->
    <div class="content-box-md">
        <form method="post" action="/Account/UserProfile" enctype="multipart/form-data">
            @Html.HiddenFor(u => u.UserProfileModel.UserID)
            @Html.HiddenFor(u => u.UserProfileModel.ID)
            @Html.HiddenFor(u => u.UserProfileModel.Picture)
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-heading">
                                <h2> Basic Profile Details </h2>
                            </div>
                        </div>
                    </div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.FirstName)
                                    @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", placeholder = "Enter your first name" })
                                    @Html.ValidationMessageFor(u => u.FirstName)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.LastName)
                                    @Html.TextBoxFor(u => u.LastName, new { @class = "form-control", placeholder = "Enter your last name" })
                                    @Html.ValidationMessageFor(u => u.LastName)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.Email)
                                    @Html.TextBoxFor(u => u.Email, new { type = "email", @class = "form-control", placeholder = "Enter your email", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(u => u.Email)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.DOB)
                                    @if(Model.UserProfileModel.DOB != null)
                                    {
                                        @Html.TextBoxFor(u => u.UserProfileModel.DOB, Model.UserProfileModel.DOB.Value.ToString("yyyy-MM-dd"), new { type = "date", @class = "form-control", placeholder = "Enter your date of birth" });
                                    }
                                    else
                                    {
                                        @Html.TextBoxFor(u => u.UserProfileModel.DOB, new { type = "date", @class = "form-control", placeholder = "Enter your date of birth" });
                                    }
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.Gender)
                                    @Html.DropDownListFor(u => u.UserProfileModel.Gender, new SelectList(Model.GenderList, "ID", "Value"), "Select your gender", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.PhoneNumber)
                                    <div class="row">
                                        <div class="col-md-3">
                                            @Html.DropDownListFor(u => u.UserProfileModel.PhoneNumber_CountryCode, new SelectList(Model.PhoneCodeList), "00", new { @class = "form-control" })
                                        </div>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(u => u.UserProfileModel.PhoneNumber, new { @class = "form-control", placeholder = "Enter your phone number" })
                                        </div>
                                    </div>
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.PhoneNumber_CountryCode)
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.PhoneNumber)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.ProfilePicture)
                                    <label class="file-uploader">
                                        <img src="/Images/upload-file.png" alt="Upload File" title="Upload File">
                                        <p> Upload a picture</p>
                                        @Html.TextBoxFor(u => u.UserProfileModel.ProfilePicture, new { type = "file", @class="form-control", accept = "image/*" })
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-heading">
                                <h2> Address Details </h2>
                            </div>
                        </div>
                    </div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.AddressLine1)
                                    @Html.TextBoxFor(u => u.UserProfileModel.AddressLine1, new { @class = "form-control", placeholder = "Enter your address" })
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.AddressLine1)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.AddressLine2)
                                    @Html.TextBoxFor(u => u.UserProfileModel.AddressLine2, new { @class = "form-control", placeholder = "Enter your address" })
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.AddressLine2)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.City)
                                    @Html.TextBoxFor(u => u.UserProfileModel.City, new { @class = "form-control", placeholder = "Enter your city" })
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.City)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.State)
                                    @Html.TextBoxFor(u => u.UserProfileModel.State, new { @class = "form-control", placeholder = "Enter your state" })
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.State)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.ZipCode)
                                    @Html.TextBoxFor(u => u.UserProfileModel.ZipCode, new { @class = "form-control", placeholder = "Enter your zipcode" })
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.ZipCode)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.Country)
                                    @Html.DropDownListFor(u => u.UserProfileModel.Country, new SelectList(Model.CountriesList), "Select your country", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(u => u.UserProfileModel.Country)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-heading">
                                <h2> University and College Information </h2>
                            </div>
                        </div>
                    </div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.University)
                                    @Html.TextBoxFor(u => u.UserProfileModel.University, new { @class = "form-control", placeholder = "Enter your university" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(u => u.UserProfileModel.College)
                                    @Html.TextBoxFor(u => u.UserProfileModel.College, new { @class = "form-control", placeholder = "Enter your college" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="work-btn">
                            <button class="btn blue-btn" type="submit" title="Update" role="button"> Update </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- User Profile Ends -->
