@model Notes_MarketPlace.Models.AddNoteViewModel

@{
    ViewBag.Title = "AddNote";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- Add Notes -->
<section id="add-notes">

    <!-- Add Notes Content -->
    <div class="search-content">
        <div class="main-heading-center">
            <h1> Add Notes </h1>
        </div>
    </div>

    <!-- Add Note Details -->
    <form method="post" action="/Home/AddNote" enctype="multipart/form-data">
        @Html.HiddenFor(n => n.SellerNote.ID)
        @Html.HiddenFor(n => n.SellerNote.SellerID)
        @Html.HiddenFor(n => n.SellerNote.Status)
        @Html.HiddenFor(n => n.SellerNote.CreatedDate)
        @Html.HiddenFor(n => n.SellerNote.CreatedBy)
        @Html.HiddenFor(n => n.SellerNote.IsActive)
        <div class="content-box-md">
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-heading">
                                <h2> Basic Note Details </h2>
                            </div>
                        </div>
                    </div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.Title)
                                    @Html.TextBoxFor(n => n.SellerNote.Title, new { @class = "form-control", placeholder = "Enter your notes title" })
                                    @Html.ValidationMessageFor(n => n.SellerNote.Title)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.Category)
                                    @Html.DropDownListFor(n => n.SellerNote.Category, new SelectList(Model.NoteCategorieList, "ID", "Name"), "Select your category", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(n => n.SellerNote.Category)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.DisplayPicture)
                                    <label class="file-uploader">
                                        <img src="~/Images/upload-file.png" alt="Upload File" title="Upload Note Image">
                                        <p> Upload a Picktuer</p>
                                        @Html.TextBoxFor(n => n.SellerNote.DisplayPicture, new { type = "file", @class = "form-control", accept = "image/*" })
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNotesAttachement.FilePath)
                                    <label class="file-uploader">
                                        <img src="~/Images/upload-note.png" alt="Upload Note" title="Upload Note PDF">
                                        <p> Upload your notes</p>
                                        @Html.TextBoxFor(n => n.SellerNotesAttachement.FilePath, new { type = "file", @class = "form-control", accept = ".pdf" })
                                    </label>
                                    @Html.ValidationMessageFor(n => n.SellerNotesAttachement.FilePath)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.NoteType)
                                    @Html.DropDownListFor(n => n.SellerNote.NoteType, new SelectList(Model.NoteTypesList, "ID", "Name"), "Select your note type", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.NumberofPages)
                                    @Html.TextBoxFor(n => n.SellerNote.NumberofPages, new { @class = "form-control", placeholder = "Enter number of note pages" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div id="note-description">
                                    <div class="form-group">
                                        @Html.LabelFor(n => n.SellerNote.Description)
                                        @Html.TextAreaFor(n => n.SellerNote.Description, new { @class = "form-control", placeholder = "Enter your description" })
                                        @Html.ValidationMessageFor(n => n.SellerNote.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-heading">
                                <h2> Institution Information </h2>
                            </div>
                        </div>
                    </div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.Country)
                                    @Html.DropDownListFor(n => n.SellerNote.Country, new SelectList(Model.CountriesList, "ID", "Name"), "Select your country", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.UniversityName)
                                    @Html.TextBoxFor(n => n.SellerNote.UniversityName, new { @class = "form-control", placeholder = "Enter your institution name" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-heading">
                                <h2> Course Details </h2>
                            </div>
                        </div>
                    </div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.Course)
                                    @Html.TextBoxFor(n => n.SellerNote.Course, new { @class = "form-control", placeholder = "Enter your course name" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.CourseCode)
                                    @Html.TextBoxFor(n => n.SellerNote.CourseCode, new { @class = "form-control", placeholder = "Enter your Course code" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.Professor)
                                    @Html.TextBoxFor(n => n.SellerNote.Professor, new { @class = "form-control", placeholder = "Enter your professor name" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="left-heading">
                                <h2> Selling Information </h2>
                            </div>
                        </div>
                    </div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(n => n.SellerNote.IsPaid)<br />
                                <div class="redio-btn custom-control-inline">
                                    @Html.RadioButtonFor(n => n.SellerNote.IsPaid, false)
                                    <label for="free">Free</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        @Html.RadioButtonFor(n => n.SellerNote.IsPaid, true)
                                        <label for="paid">Paid</label>
                                    </div><br>
                                </div>
                                @Html.ValidationMessageFor(n => n.SellerNote.IsPaid)
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.SellingPrice)
                                    @Html.TextBoxFor(n => n.SellerNote.SellingPrice, new { @class = "form-control", placeholder = "Enter your price" })
                                    @Html.ValidationMessageFor(n => n.SellerNote.SellingPrice)
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(n => n.SellerNote.NotesPreview)
                                    <label class="file-uploader">
                                        <img src="~/Images/upload-file.png" alt="Upload File" title="Upload Note Preview PDF">
                                        <p> Upload a file</p>
                                        @Html.TextBoxFor(n => n.SellerNote.NotesPreview, new { type = "file", @class = "form-control", accept = ".pdf" })
                                    </label>
                                    @Html.ValidationMessageFor(n => n.SellerNote.NotesPreview)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-note-details">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="custom-control-inline">
                                <button type="submit" class="btn blue-btn" title="Save">SAVE</button>
                            </div>
                            @if(Model.SellerNote.ID != 0)
                            {
                                var Href = "/Home/Publish/" + Model.SellerNote.ID.ToString();
                                <div class="custom-control-inline">
                                    <a class="btn blue-btn" href=@Href title="Publish" role="button" onclick="return confirm('You will published this note?')"> PUBLISH </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</section>
<!-- Add Notes Ends -->
