@model Notes_MarketPlace.Models.ContactUsFormViewModel

@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- Contact Us -->
<section id="contact-us">

    <!-- Contact Us Content -->
    <div class="search-content">
        <div class="main-heading-center">
            <h1> Contact Us </h1>
        </div>
    </div>

    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="contect-us-heading">
                        <div class="left-heading">
                            <h2> Get in Touch </h2>
                        </div>
                        <div id="contect-us-text">
                            <p> Let us know how to get back to you </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="login-form">
                        <form method="post" action="/Home/ContactUs">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(f => f.FullName)
                                                @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                                                {
                                                    @Html.TextBoxFor(f => f.FullName, new { @class = "form-control", placeholder = "Enter your full name", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(f => f.FullName, new { @class = "form-control", placeholder = "Enter your full name" })
                                                    @Html.ValidationMessageFor(f => f.FullName)
                                                }

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(f => f.Email)
                                                @if (User.Identity.IsAuthenticated && User.IsInRole("Member"))
                                                {
                                                    @Html.TextBoxFor(f => f.Email, new { type = "email", @class = "form-control", placeholder = "Enter your email address", @readonly = "readonly" })
                                                }
                                                else
                                                {
                                                    @Html.TextBoxFor(f => f.Email, new { type = "email", @class = "form-control", placeholder = "Enter your email address" })
                                                    @Html.ValidationMessageFor(f => f.Email)
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                @Html.LabelFor(f => f.Subject)
                                                @Html.TextBoxFor(f => f.Subject, new { @class = "form-control", placeholder = "Enter your subject" })
                                                @Html.ValidationMessageFor(f => f.Subject)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(f => f.Comments)
                                        @Html.TextAreaFor(f => f.Comments, new { @class = "form-control", placeholder = "Comments..." })
                                        @Html.ValidationMessageFor(f => f.Comments)
                                    </div>
                                </div>
                            </div>
                            <div class="add-note-details">
                                <button type="submit" class="btn blue-btn" title="Submit" role="button"> SUBMIT </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Contact Us Ends -->
