@model Notes_MarketPlace.Models.SearchNoteViewModel

@{
    ViewBag.Title = "SearchNote";
    Layout = "~/Views/Shared/_RagisterView.cshtml";
}

<!-- Search Notes -->
<section id="search-notes">

    <!-- Search Content -->
    <div class="search-content">
        <div class="main-heading-center">
            <h1> Search Notes </h1>
        </div>
    </div>

    <div class="content-box-md">

        <!-- Search Filter -->
        <div id="search-filter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="filter-heading" class="heading-md">
                            <h3> Search and Filter notes </h3>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="filter-content">
                            <div class="login-form">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="search">
                                                <div class="form-group">
                                                    <div class="search-bar">
                                                        @*<input type="text" class="form-control search-bar" id="search-input" onkeyup="SearchFun()" placeholder="       Search Notes Here...">*@
                                                        @Html.TextBoxFor(s => s.searchFilter.searchBar, new { @class = "form-control search-bar", id = "search-input-note", placeholder = "       Search Notes Here..." })
                                                        <div class="search-icon">
                                                            <img src="~/Images/search-icon.png">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.DropDownListFor(n => n.searchFilter.type, new SelectList(Model.types, "ID", "Name"), "Select type", new { @class = "form-control search-filter", value = 0 })
                                                @*<select class="form-control" id="select-type">
                                                    <option>Select type</option>
                                                    <option>Handwritten notes</option>
                                                    <option>University notes</option>
                                                    <option>Notebook</option>
                                                    <option>Novel</option>
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.DropDownListFor(n => n.searchFilter.category, new SelectList(Model.categories, "ID", "Name"), "Select category", new { @class = "form-control search-filter" })
                                                @*<select class="form-control" id="select-category">
                                                    <option>Select category </option>
                                                    <option>IT</option>
                                                    <option>CA</option>
                                                    <option>CS</option>
                                                    <option>MBA</option>
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.DropDownListFor(n => n.searchFilter.univarsity, new SelectList(Model.universitys), "Select university", new { @class = "form-control search-filter" })
                                                @*<select class="form-control" id="select-university">
                                                    <option>Select university </option>
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.DropDownListFor(n => n.searchFilter.course, new SelectList(Model.courses), "Select course", new { @class = "form-control search-filter" })
                                                @*<select class="form-control" id="select-course">
                                                    <option>Select course </option>
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.DropDownListFor(n => n.searchFilter.country, new SelectList(Model.countries, "ID", "Name"), "Select country", new { @class = "form-control search-filter" })
                                                @*<select class="form-control" id="select-country">
                                                    <option>Select country </option>
                                                </select>*@
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                @Html.DropDownListFor(n => n.searchFilter.reting, new SelectList(Model.retings), "Select reting", new { @class = "form-control search-filter" })
                                                @*<select class="form-control" id="select-reting">
                                                    <option>Select reting </option>
                                                </select>*@
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Total notes -->
        <div id="getNoteList"></div>

    </div>

</section>
<!-- search Notes Ends -->
